/*                                                                                                    GENERAL */
:root {
  --light-pink: #D4BEE4;
  --medium-pink: #9B7EBD;
  --text-violet: #3B1E54;
  --light: #EEEEEE;
  --light-background: #ffffff;
  --light-background-transparent: #ffffffc6;
}


#root { 
  margin: 0 auto; 
  padding: 0;
  font-family: Roboto;
  width: 100%;
  background-color: var(--light);
  overflow: hidden;
  font-size: 16px;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;  
}

.sections-wrapper {
  height: 100vh; 
  width: 100%;
  overflow-y: scroll;  
  scroll-snap-type: y mandatory; 
}

section {
  overflow-y: hidden;
  scroll-snap-align: start;
  padding: 7em 9em 0em 11em; 
  width: 100%;
  height: 100vh; 
  display: flex;
  align-items: center;
}

#main, #projects, #contact {
  background-color: var(--light-pink);
}

 #skills {
  overflow-x: hidden;
 }

.text-violet {
  color: var(--text-violet)
}

a img {
  width: 30px;
}
 

 
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5em;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.container.visible {
  opacity: 1;
  transform: translateY(0);
}

/* buttons */


.btn {
  transition: all 0.3s ease;
  
} 

.btn:hover{
  background-color: var(--text-violet);
  transform: scale(1.3);

}
/* Navbar                                                                                                            NAVBAR  */

.navbar {
  width: 100%;
  height: 3em;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--light-background-transparent);

}

.navbar-nav {
  background-color: var(--light-background-transparent);
  width: 8em;
  height: 95vh;
  gap: 1em;
}

.toggler {
  background-color:#ffffff00;
}

.text-decoration-none { 
  text-decoration: none;
}



/* sidebar navigation                                                                                               SIDEBAR */
.sidebar {
  width: 3.5em;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background-color: #88888857;
  padding: 1em 0;
  top: 0;
  left: 0;
}

 

.nav {
  height: 90%;
  align-items: left;
}

.nav-link {
  transition: color 0.3s ease;
  transform-origin: top left;
  transform: rotate(90deg);
  display: inline-block;
  transition: all 0.4s ease;
  margin-left: 50px;
  min-width: 80px;
  padding: 10px; 
  white-space: nowrap; 
}

.nav-link.active {
  font-weight: bold;
  color:var(--text-violet);
  transform:  scale(1.7);
}

.nav-link.active:hover {
  transform:  scale(2);

}

.nav-link:hover {
  transform: rotate(90deg) scale(1.4);
  margin-left: 50px;
  color:var(--text-violet)

}


.arrow {
  position: fixed;
  bottom: 3em;
  right: 4em;
  width: 3em;
}



/*  MAIN MAIN MAIN MAIN MAIN                                                                                             MAIN   */

.photo img {
  width: 80%; 
}
 
.skills-container, .projects-container {
  height: 13em;
  background-color: var(--medium-pink);
  border-radius: 1em;
}
 
 
/* slider for skills  */

.slider, .slider-project {
  height: 5em;
  margin: auto;
  width: 90%;
  place-items: center;
  overflow: hidden;
}

.slider-project {
  height: 7em;
}

.slide-track {
  animation: scroll 10s linear infinite;
}

.slide-track.projects {
  animation: scroll-projects 6s linear infinite;

}

.slide-track:hover {
  animation-play-state: paused;
}

.slide-skill {
  height: 5em;
  perspective: 10em;
}
 
.slide-skill img {
  width: 100%;
  height: 4em;
  transition: transform 1s;
}

.slide-skill img:hover {
  transform: translateZ(30px);
}
 
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-5em*3.5));
  }
}

 
@keyframes scroll-projects {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-3em*4));
  }
}


.slide-project {
  height: 6em;
  width: 13em;
  background-color: var(--light-background);
  border-radius: 1em;
  transition: transform 1s;
  margin-right: 0.5em;
}

.slide-project:hover {
  background-color: var(--light-pink);
  cursor: pointer;
  transform: scale(1.1);
  
}


.slide-project a {
  width: 100%;
  color:black
}

 
 



.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);  
}

 
.container .row {
  min-width: 100%;
}



 


/* PROJECTS PROJECTS PROJECTS                                                                                           PROJECTS */

#carouselProjects{
  width: 75%;
}


 

/* tools*/
.disabled-black:disabled {
  color:black;
  opacity: 1;
}

.project-card li {
  font-size: 20px;
  margin-left: 30px;
}

.carousel-inner {
  padding: 1em 5em 5em 4em; 
 }

 
.project-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #EEEEEE;
  margin: 1em 2em;
  transition: all 0.3s ease;
  height: 350px; 
 }

.project-card:hover {
  transform: scale(1.1);
  background-color: #9B7EBD;
  color: white;
  border-radius: 1em;
}

.project-card:hover button{
  color:white;
  border-color: white;
}





/*  CONTACT ME CONTACT ME CONTACT ME                                                                                        CONTACT ME*/

.fields{
  min-width: 380px;
  max-width: 700px;
  margin-left: 0px;
}

 
.media-scroller { 
  width: 75%;
  box-sizing: border-box;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  height: 15em;
  padding: 0.2em 4em 4em;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-scroller::-webkit-scrollbar {
  height: 7px;  
  background-color: #e8e7e9;
}

.media-scroller::-webkit-scrollbar-thumb {
  background: #9B7EBD; /* Scrollbar color */
  border-radius: 10px;
}

.media-element {
  grid-template-rows: min-content;
  border: 0.1em solid #D4BEE4;
  box-shadow: #D4BEE4;
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* general styling */

 
 

 

@media (max-width: 1050px) {
  .media-scroller {
    grid-auto-columns: 30%; /* Wider grid items */
    padding: 0.1em 1em 1em; /* Adjust padding */
    height: 12em; /* Reduce height */
  }

  section {
    padding: 5em 2em 1em 5em; 
  }

  .media-element {
    padding: 1rem; /* Smaller padding */
  }
}

@media (max-width: 770px) and (min-width: 430px) { 
  .container p, .container label  {
    font-size: 1.3em;
    max-width: 500px;
  }

 

  .skills-container {
    height: 11em;
    max-width: 500px;
  }

 

 
}

@media (max-width: 770px) {
  .media-scroller {
    max-width: 35%; 
    grid-auto-columns: 35%; /* Wider grid items */
    height: 16em;  
    padding: 1em 4em 2em;  

  }

  #root {
    font-size: 13px;
  }

  .nav-link { 
    margin-left: 44px;
    font-size: 1em;
  }

  .nav-link.active {
    margin-left: 30px;
  }
 
  #carouselProjects {
    width: 80%;
  }

  .media-element {
    padding: 0.8rem;  
  }

  .project-card {
    height: 400px;
    width: 90%;
  }


  .project-card:hover {
    transform: none;
    background-color: #EEEEEE;
    color: inherit;
    border-radius: 8px;
  }

  .project-card:hover button {
    color: inherit;
    border-color: inherit;
  }
 

  .container {
    padding: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
    gap: 2em;
  }

  section {
    padding: 5em 2em 1em 5em; 
  }

  .lead {
    font-size: 1.3em;
  }

  .projects-container {
    display: none;
  }

  .arrow {
    bottom: 2em;
    right: 2em;
    width: 3em;
  }

  .fields {
    max-width: 70%;
  }
 
 
}
 
@media (max-width: 600px) {
 

  .media-scroller {
    width: 100%; 
    grid-auto-columns: 65%; 
    padding: 0.5em 4em 4em;  

  }

  .carousel-inner {
    padding: 0em 0em 4em 0em;
  }
 

 

  .card-title {
    font-size: 1rem; 
  }

  .card-text {
    font-size: 0.9rem; 
  }
}

@media (max-width: 576px) {
  #projects {
    padding: 0.5em;
  }

  .project-card { 
    margin: 0px;
  }

  #main {
    padding: 4em 1em;
  }
 

  .btn {
    font-size: 0.75rem;
    padding: 0.4rem 0.8rem;
  }
}


@media (max-width: 450px) {
  section {
    padding: 4em 1em;
  }

  .project-card {
    width: 97%;
    height: 400px;
  }
 

  .photo img {
    width: 60%;
  }


  .media-scroller {
    max-width: 30%; 
    grid-auto-columns: 85%; /* Almost full width */
    padding: 0.2em 1em 1em; /* Smaller padding */
    height: 13em; /* Reduce height further */
  }

  .fields {
    min-width: 90%;
  }

  .skills-container {
    height: 11em;
    padding: 1em;
  }

  .slide-skill img {
    height: 3em; 
    width: 3em;
  }

  
}
@media (max-width: 380px) {
  #projects {
    padding-top: 5em;
  }
  .media-scroller {
    max-width: 20%; 
    grid-auto-columns: 85%; /* Almost full width */
    padding: 0.2em 1em 1em; /* Smaller padding */
    height: 15em; /* Reduce height further */
  }

 
  #carouselProjects {
    width: 90%;
  }

  .project-card {
    height: 420px;
  }

 

  .photo img {
    width: 80%;
  }


}

 

 









