/*                                                                                                    GENERAL */

#root { 
  margin: 0 auto; 
  padding: 0;
  font-family: Roboto;
  width: 100%;
  background-color: #EEEEEE;
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevents default scrolling on the html/body */
}

.sections-wrapper {
  height: 100vh; /* Makes the container fill the viewport */
  width: 100%;
  overflow-y: scroll; /* Enables vertical scrolling */
  scroll-snap-type: y mandatory; /* Enables vertical scroll snapping */
}

section {
  scroll-snap-align: start;
  padding: 2em 9em; 
  width: 100%;
  height: 100vh;
}

#main, #projects, #contact {
  background-color: #D4BEE4;
}

footer { 
  background-color: #EEEEEE;
}

.text-violet {
  color: #3B1E54
}

a img {
  width: 30px;
}

#contact {
  padding: 0px;

}

 
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5em;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.container.visible {
  opacity: 1;
  transform: translateY(0);
}

/* buttons */


.btn {
  transition: all 0.3s ease;
  
} 

.btn:hover{
  background-color: #3B1E54;
  transform: scale(1.3);

}




/* sidebar navigation                                                                                               SIDEBAR */
.sidebar {
  width: 3.5em;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background-color: #88888857;
  padding: 1em 0;
  top: 0;
  left: 0;
}

.nav {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.nav-link {
  font-size: 16px;
  color: #3B1E54;
  transition: color 0.3s ease;
  transform-origin: top left;
  transform: rotate(90deg);
  text-align: center;
  display: inline-block;
  transition: all 0.4s ease;
  margin-left: 50px;
  min-width: 80px;
  padding: 10px; 
  white-space: nowrap; 
}

.nav-link.active {
  font-weight: bold;
  color: #000000;
  transform:  scale(1.7);
}

.nav-link.active:hover {
  transform:  scale(2);

}

.nav-link:hover {
  transform: rotate(90deg) scale(1.4);
  margin-left: 50px;
  color: black

}


.arrow {
  position: fixed;
  bottom: 3em;
  right: 4em;
  width: 3em;
}



/*  MAIN MAIN MAIN MAIN MAIN                                                                                             MAIN   */

.photo img {
  width: 80%; 
}
 
.skills-container {
  padding: 2em;
  background-color: #9B7EBD;
  border-radius: 1em;
}
 
 
/* slider for skills  */

.slider {
  height: 5em;
  position: relative;
  margin: auto;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  animation: scroll 10s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

.slide-skill {
  height: 5em;
  display: flex;
  align-items: center;
  padding: 1em;
  perspective: 10em;
}
 

.slide-skill img {
  width: 100%;
  height: 4em;
  transition: transform 1s;
}

.slide-skill img:hover {
  transform: translateZ(30px);
}
 
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-5em*3.5));
  }
}


/*slider for projects*/
.slider-projects {
  height: 10em;
  position: relative;
  margin: auto;
  width: 100%;
  display: grid;
  gap: 5em;
  place-items: center;
  overflow: scroll;
}

.slide-track-projects {
  display: flex;
}



.slider-projects::-webkit-scrollbar {
  display: none;
}

.slider-projects::-webkit-scrollbar-thumb {
  display: none;
}
 

.slide-project {
  height: 5em;
  width: 13em;
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  transition: transform 1s;

}

.slide-project:hover {
  background-color: #D4BEE4;
  cursor: pointer;
  transform: scale(1.1);
  
}


.slide-project.second {
  margin-top: 3em;
}
 

.slide-project a {
  width: 100%;
  text-decoration: none;
  color:black
}

 
 

/* for image
.circle-inner {
  width: 80%;
  height: 80%;
  background-color: rgb(182, 79, 156);
  border-radius: 50%; 
  display: flex;  
  align-items: center;  
  justify-content: center;  
  aspect-ratio: 1 / 1;
}

 
 

.circle {
  width: 23em;
  height: 23em;
  background-color: transparent;  
  border: 0.5em solid rgb(255, 255, 255);  
  border-radius: 50%;
  display: flex;  
  align-items: center;  
  justify-content: center;  
  margin-bottom: 1em;
  aspect-ratio: 1 / 1;
 } */

 


 

 

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);  
}

 



 


/* PROJECTS PROJECTS PROJECTS                                                                                           PROJECTS */

#carouselProjects{
  width: 75%;
}
 

/* tools*/
.disabled-black:disabled {
  color:black;
  opacity: 1;
}

.project-card li {
  font-size: 20px;
  margin-left: 30px;
}




/*  CONTACT ME CONTACT ME CONTACT ME                                                                                        CONTACT ME*/

.fields{
  min-width: 300px;
  max-width: 700px;
}







@media (max-width: 770px) {
  .container {
    padding: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
    gap: 2em;
    }
 
    /*
   .circle {
    width: 15em;  
    height: 15em;
    margin-top: 2em;
    margin-bottom: 0em;
  }

  .circle img { 
    object-fit: cover;
  }

 
    */
 
}

/*
@media (max-width: 1070) {
  circle {
    width: 17em;
    height: 17em
  }
 
}*/


@media (max-width: 576px) {
  #projects {
    padding: 0.5em;
  }

  .project-card { 
    margin: 0px;
  }
 

  .btn {
    font-size: 0.75rem;
    padding: 0.4rem 0.8rem;
  }
}



 
.media-scroller { 
  width: 75%;
  box-sizing: border-box;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  height: 15em;
  padding: 0.2em 4em 4em;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-scroller::-webkit-scrollbar {
  height: 7px;  
  background-color: #e8e7e9;
}

.media-scroller::-webkit-scrollbar-thumb {
  background: #9B7EBD; /* Scrollbar color */
  border-radius: 10px;
}



  



.media-element {
  grid-template-rows: min-content;
  border: 0.1em solid #D4BEE4;
  box-shadow: #D4BEE4;
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* general styling */

 
 
.carousel-inner {
  padding: 8em; 
}

.project-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #EEEEEE;
  margin: 1em 2em;
  transition: all 0.3s ease;

}

.project-card:hover {
  transform: scale(1.1);
  background-color: #9B7EBD;
  color: white;
  border-radius: 1em;
}

.project-card:hover button{
  color:white;
  border-color: white;
}

 

@media (max-width: 1050px) {
  .media-scroller {
    grid-auto-columns: 30%; /* Wider grid items */
    padding: 0.1em 1em 1em; /* Adjust padding */
    height: 12em; /* Reduce height */
  }

  .media-element {
    padding: 1rem; /* Smaller padding */
  }
}
@media (max-width: 770px) {
  .media-scroller {
    max-width: 40%; 
    grid-auto-columns: 35%; /* Wider grid items */
    height: 13em; /* Reduce height */
  }

 }
 

/* Small Screens: 576px and below */
@media (max-width: 600px) {
 

  .media-scroller {
    width: 100%; 
    grid-auto-columns: 65%; 
    padding: 0.5em 4em 4em;  

  }

  .media-element {
    padding: 0.8rem;  
  }
 
  .carousel-inner {
    padding: 0px;
    margin: 0px;
  }
 

  .card-title {
    font-size: 1rem; /* Smaller title font */
  }

  .card-text {
    font-size: 0.9rem; /* Smaller text font */
  }
}

@media (max-width: 450px) {
  .media-scroller {
    max-width: 30%; 
    grid-auto-columns: 85%; /* Almost full width */
    padding: 0.2em 1em 1em; /* Smaller padding */
    height: 13em; /* Reduce height further */
  }
}
@media (max-width: 350px) {
  .media-scroller {
    max-width: 20%; 
    grid-auto-columns: 85%; /* Almost full width */
    padding: 0.2em 1em 1em; /* Smaller padding */
    height: 13em; /* Reduce height further */
  }
}

 









