#root { 
  margin: 0 auto; 
  font-family: Roboto;
  width: 100%;
  background-color: #EEEEEE;
  overflow-x: hidden;
}

 


section {
  padding: 2em;
  width: 100%;
  height: 100vh;

}
#main, #projects, #contact {
  background-color: #D4BEE4;
}

footer {
  background-color: #EEEEEE;
}

 

.text-violet {
  color: #3B1E54
}

a img {
  width: 30px;
}

 
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5em;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.container.visible {
  opacity: 1;
  transform: translateY(0);
}

 



nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
}

.nav-link {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link:hover{
  color: white;           
  transform: scale(1.3);}

.btn {
  transition: all 0.3s ease;
  
} 

.btn:hover{
  background-color: #3B1E54;
  transform: scale(1.1);

}


.circle-inner {
  width: 80%;
  height: 80%;
  background-color: rgb(182, 79, 156);
  border-radius: 50%; 
  display: flex;  
  align-items: center;  
  justify-content: center;  
  aspect-ratio: 1 / 1;
}

 
 

.circle {
  width: 23em;
  height: 23em;
  background-color: transparent;  
  border: 0.5em solid rgb(255, 255, 255);  
  border-radius: 50%;
  display: flex;  
  align-items: center;  
  justify-content: center;  
  margin-bottom: 1em;
  aspect-ratio: 1 / 1;
 }

 

.circle img {
  width: 125%; 
}
 

.dot {
  border: 0.1em solid black !important;
  width: 0.3em !important;
  height: 0.3em !important;
  border-radius: 50%;
  margin: 0 5px;
 
  aspect-ratio: 1 / 1;
}

.dot.active {
  background-color: #000;  
 }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);  
}

 

.read-the-docs {
  color: #888;
}


ul {
  list-style-type:square;
}

li {
  margin: 1em;
}

 


 
.disabled-black:disabled {
  color:black;
  opacity: 1;
}

.project-card li {
  font-size: 20px;
  margin-left: 30px;
}

.fields{
  min-width: 300px;
  max-width: 700px;
}

@media (max-width: 770px) {
  .container {
    padding: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
    gap: 2em;
    }
  
 

 
 
   .circle {
    width: 15em;  
    height: 15em;
    margin-top: 2em;
    margin-bottom: 0em;
  }

  .circle img { 
    object-fit: cover;
  }

 

 
}

@media (max-width: 1070) {
  circle {
    width: 17em;
    height: 17em
  }
 
}
 
@media (max-width: 576px) {
  #projects {
    padding: 0.5em;
  }

 

  .project-card { 
    margin: 0px;
  }
 
  
 

  .btn {
    font-size: 0.75rem;
    padding: 0.4rem 0.8rem;
  }
}



 
.media-scroller { 
  box-sizing: border-box;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  height: 15em;
  padding: 0.2em 4em 4em;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-scroller::-webkit-scrollbar {
  height: 7px;  
  background-color: #e8e7e9;
}

.media-scroller::-webkit-scrollbar-thumb {
  background: #9B7EBD; /* Scrollbar color */
  border-radius: 10px;
}

 
 

.media-element {
  grid-template-rows: min-content;
  border: 0.1em solid #D4BEE4;
  box-shadow: #D4BEE4;
 }

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* general styling */

 
 
.carousel-inner {
  padding: 8em; 
}

.project-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #EEEEEE;
  margin: 1em 2em;
  transition: all 0.3s ease;

}

.project-card:hover {
  transform: scale(1.1);
  background-color: #9B7EBD;
  color: white;
  border-radius: 1em;
}

.project-card:hover button{
  color:white;
  border-color: white;
}

 

@media (max-width: 1050px) {
  .media-scroller {
    grid-auto-columns: 30%; /* Wider grid items */
    padding: 0.1em 1em 1em; /* Adjust padding */
    height: 12em; /* Reduce height */
  }

  .media-element {
    padding: 1rem; /* Smaller padding */
  }
}
@media (max-width: 770px) {
  .media-scroller {
    max-width: 40%; 
    grid-auto-columns: 35%; /* Wider grid items */
    height: 13em; /* Reduce height */
  }

 }
 

/* Small Screens: 576px and below */
@media (max-width: 600px) {
 

  .media-scroller {
    width: 100%; 
    grid-auto-columns: 65%; 
    padding: 0.5em 4em 4em;  

  }

  .media-element {
    padding: 0.8rem; /* Smaller padding for small screens */
  }
 
  .carousel-inner {
    padding: 0px;
    margin: 0px;
  }
 

  .card-title {
    font-size: 1rem; /* Smaller title font */
  }

  .card-text {
    font-size: 0.9rem; /* Smaller text font */
  }
}

@media (max-width: 450px) {
  .media-scroller {
    max-width: 30%; 
    grid-auto-columns: 85%; /* Almost full width */
    padding: 0.2em 1em 1em; /* Smaller padding */
    height: 13em; /* Reduce height further */
  }
}
@media (max-width: 350px) {
  .media-scroller {
    max-width: 20%; 
    grid-auto-columns: 85%; /* Almost full width */
    padding: 0.2em 1em 1em; /* Smaller padding */
    height: 13em; /* Reduce height further */
  }
}

 

